html{
	width: 100%;
	height: 100%;
}

/* structure */
body{
	background: black;
	animation: 3.5s slideinmain ease;
}
article{
	font-family: "Roboto", sans-serif;
	margin-top: 8em;
	text-align: center;
	width: 100%;
}



footer{
	font-family: "Roboto", sans-serif;
	font-size: 6pt;
	text-align: center;
	width: 100%;
}

/* elements */
a {
	color: white;
}
a:hover {
	background: coral;
}
p {
	color: white;
}

/* classes */
div.caption p{
	font-family: 'IM Fell English', serif;
	font-size: 12pt;
	margin-bottom: none;
	padding: none;
}
div.caption{
	background: black;
	margin-top: -10px;
	z-index: 200;
}

img.under{
	visibility: visible;
	z-index: 0;
}
img.over{
	margin-top: -345px;
	z-index: 2;
	animation: flicker 5s ease alternate infinite;
}

img.over:hover{
	opacity: 0;
}

/* animations */
@keyframes flicker{
	from {
		opacity: 1;
	}
	23% {
		opacity: 0.50;
	}
	45% {
		opacity: 0.15;
	}
	68% {
		opacity: 0.46;
	}
	to {
		opacity: 0;
	}
}
@keyframes slideinmain {
	from {
		margin-top: 100%;
		background: #121023;
		opacity: 0;
	}
	65% {
		background: black;
		opacity: 70;
	}
	to {
		margin-top: 0%;
		opacity: 100;
	}
}
