html{
	width: 100%;
	height: 100%;
}
body{
	background: black;
	animation: 3.5s slideinmain ease;
}
article.container{
	width: 100%;
	text-align: center;
	margin-top: 8em;
	font-family: "Roboto", sans-serif;
}


a {
	color: white;
}
p {
	color: white;
}

div.caption p{
	font-family: 'IM Fell English', serif;
	font-size: 12pt;
	margin-bottom: none;
	padding: none;
}
div.caption{
	margin-top: -10px;
	background: black;
	z-index: 200;
}

img.under{
	z-index: 0;
	visibility: visible;
}
img.over{
	margin-top: -345px;
	z-index: 2;
	animation: flicker 5s ease alternate infinite;
}

a:hover {
	background: coral;
}


img.over:hover{
	opacity: 0;
}
@keyframes flicker{
	from {
		opacity: 1;
	}
	23% {
		opacity: 0.50;
	}
	45% {
		opacity: 0.15;
	}
	68% {
		opacity: 0.46;
	}
	to {
		opacity: 0;
	}
}
@keyframes slideinmain {
	from {
		margin-top: 100%;
		background: #121023;
		opacity: 0;
	}
	65% {
		background: black;
		opacity: 70;
	}
	to {
		margin-top: 0%;
		opacity: 100;
	}
}
